        /* main body */
        
        html {
            scroll-behavior: smooth;
        }
        
        body {
            margin: 0;
            padding: 0;
            background-image: linear-gradient(210deg, rgb(255, 255, 255), rgb(235, 235, 235));
            transition: all ease-in-out 0.85s;
        }
        
        #page {
            display: grid;
            width: 100%;
            height: 100vh;
            grid-template-areas: "nav head" "nav main" "foot foot";
            grid-template-rows: 100px 1fr 30px;
            grid-template-columns: 300px 1fr;
            background-color: #d6e1e0;
        }
        
        #page>header {
            grid-area: head;
            background-color: #d6e1e0;
        }
        
        #page>nav {
            grid-area: nav;
            background-color: #d6e1e0;
        }
        
        #page>main {
            grid-area: main;
            background-color: #b8c4c3;
            overflow-y: scroll;
            border-radius: 50px 0 0 0;
        }
        
        footer {
            grid-area: foot;
            background-color: #333;
        }
        /*hide these - temp*/
        
        #modal1 {
            display: none;
        }
        
        h1 {
            font-size: 3rem;
            padding: 0 2.5vw;
            margin-top: .25em;
            line-height: 1.25em;
            margin-bottom: -1em;
            font-family: "Inter", sans-serif;
            font-weight: 800;
            color: #1b6585;
        }
        /* flex grid styles */
        
        .col {
            flex: 1;
            min-height: calc(100vh - 75vh);
            width: 85%;
            justify-self: center;
            align-self: center;
            border-radius: 25px;
            overflow: hidden;
            background-color: #29415a;
            padding: 1em;
        }
        
        .col button {
            background-color: #fff;
            border-radius: 20px;
            padding: 0.75em 1.25em;
            font-family: "Karla", sans-serif;
            color: #333;
            font-size: 1rem;
            text-decoration: none;
            border: 1px solid #fff;
        }
        
        .col button:hover {
            transform: scale(1.05);
            transition: all 0.15s;
        }
        
        .col {
            background-color: #29415a;
            transition: all ease-in-out 1s;
            transition: cubic-bezier(0.55, 0.055, 0.675, 0.19)
        }
        
        .quote-info-wrapper {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            bottom: 0;
        }
        
        .col:hover {
            transition: all ease-in-out 1.5s;
        }
        
        .footer p {
            margin: 3vh 0 2.5vh 0;
            font-size: 1.25rem;
            font-family: "Karla", sans-serif;
            font-weight: 300;
            color: #ffffff30;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        /* The Modal (background) */
        
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }
        /* Modal Content/Box */
        
        .modal-content {
            min-height: 50vh;
            background-image: linear-gradient(rgb(17, 17, 17), #000);
            margin: 15vh auto;
            filter: drop-shadow(0 5px 10px #33333350);
            width: 85%;
            height: min-content;
            border-radius: 25px;
        }
        /* The close-one Button */
        
        .close-one {
            color: #fff;
            float: left;
            font-size: 40px;
            font-weight: bold;
            position: absolute;
            top: 10px;
            z-index: 9999;
            left: 20px;
        }
        
        .close-one:hover,
        .close-one:focus {
            color: #ffffff60;
            text-decoration: none;
            cursor: pointer;
        }
        
        .modal-grid {
            display: grid;
            justify-content: center;
            flex-wrap: wrap;
            flex-basis: auto;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        
        .modal-col {
            flex: 1;
            height: 60vh;
            width: 100%;
            filter: drop-shadow(0 0.75em 1.5em #33333380);
            justify-self: center;
            align-self: center;
        }
        
        [id^="modal"] {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
            animation: fadein 0.75s;
        }
        
        input[type="checkbox"] {
            position: absolute;
            clip: rect(0 0 0 0);
        }
        
        #modal1:target {
            display: block;
        }
        
        #modal2:target {
            display: block;
        }
        
        #modal3:target {
            display: block;
        }
        
        #modal4:target {
            display: block;
        }
        
        #modal5:target {
            display: block;
        }
        
        #modal6:target {
            display: block;
        }
        
        #modal7:target {
            display: block;
        }
        
        #modal8:target {
            display: block;
        }
        
        #modal9:target {
            display: block;
        }
        /*[id^="modal"] a {
  float: right;
}*/
        
        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }